---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "susy"
;

@import url(https://fonts.googleapis.com/css?family=Droid+Serif);
@import url(https://fonts.googleapis.com/css?family=Lato);

$droid-serif: 'Droid Serif', serif;
$lato: 'Lato', sans-serif;

$susy: (
		container: 100%,
		columns: 16,
		//column-width: 50px,
		gutters: 1/2,
		gutter-position: inside
);

@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.grid {
	@include layout($susy);
	@include container(85%);
	//@include container(1175px);
	@include clearfix;
}

.full-grid {
	@include layout($susy);
	@include container(100%);
	@include clearfix;
}

//BUTTONS

a.button, button {
    // margin-top: 2rem;
    background: none;
    display: inline-block;
    padding: 13px;
    border: 2px solid white;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .075rem;
    font-family: $lato;
    text-decoration: none;
    color: white;
}

//HERO BANNER

div.hero {
  height: calc(100vh);                                   // account for navbar height
  background-color: #192028;                                    // fallback color
  background-image: url('../img/photo8.jpg');
  background-size: cover;
  background-position: 50% 50%;                                 // changes based on your photo
  box-shadow: inset 0 0 0 1000px rgba(24,33,42,.60);            // secret sauce!!
  text-align: center;
  color: white;
 	overflow: hidden;
 	color: white;
 	text-align: center;

 	.nav-menu {
 		height: 50px;

		.logo-area {
			@include span(9 of 16);
			font-family: $lato;
			font-size: 22px;
			text-align: left;
			div {
				display: inline-block;
			}
			.ls-logo {
				font-size: 27px;
			}
		}

		.nav-area {
			@include span(7 of 16);
			margin-top: 10px;
			text-align: right;
			div {
				display: inline-block;
				margin: auto 9px;
				font-family: $lato;
				font-size: 16px;
			}
		}
	}

  h1 {
  	font-family: $droid-serif;
  	font-size: 52px;
  	margin-top: 150px;
  }
}

//SERVICES

.services {
  margin-bottom: 60px;
	background-color: white;

	.services-description {
		@include span(8 of 16);
		margin-top: 101px;
		font-family: $droid-serif;
		h2 {
			font-family: $lato;
		}
		ul {
			margin: 0px;
			padding: 0px;
			list-style-type: none;
			div {
				@include span(8 of 16);
				display: inline-block;
			}
		}
	}
	.testimonial {
		@include span(8 of 16);
		margin-top: 120px;
		
    .testimonial-box {
      padding: 17px 37px 20px;
      background-color: AliceBlue;
    }
		.testimonial-quote {
			margin-top: 30px;
			border-bottom: 2px solid gray;
			font-family: $droid-serif;
			font-size: 36px;
			line-height: 46px;
		}
	}
	.testimonial-citation {
    @include clearfix; 

		margin-top: 17px;
		.testimonial-link {
			@include span (8 of 16);
		}
		.testimonial-who {
			@include span(8 of 16);
			text-align: right;
		}
	}
}

//PROJECT PHOTOS
.project-gallery {
  @include span(16 of 16);
  h2 {
  	font-family: $lato;
  	font-weight: bold;
  	font-size: 28px;
  }
}
.carousel {
	position: relative;
	padding: 20px 0;
  width: 100%;
	margin: 0px auto;

	.arrow {
		position: absolute;
		top: 47%;
		padding: 3px 10px;
		cursor: pointer;
		z-index: 1;
	}

	.arrow i {
		cursor: pointer;
		font-size: 25px;
	}

  .slick-slide {
    width: 400px;
    margin: 0;
    border-right: 10px solid #fff;
  }

	.carousel-prev {
		left: -50px;
	}

	.carousel-next {
		right: -50px;
	}
}

.photo-frame {
	margin: 30px;
}


// ABOUT US

.about-us {
	background-color: gray;
	height: 549px;
	.family-photo {
		@include span(8 of 16);
		img {
			margin-top: 95px;
			height: 300px;
		}
		p {
			font-family: $lato;
			font-style: italic;
			font-size: 14px;
		}
	}
	.about-us-description {
		@include span(8 of 16);
		h2 {
			margin-top: 113px;
			font-family: $lato;
			font-weight: bold;
			font-size: 28px;
		}
	}
}

// QUOTE

.quote-area {
	height: 600px;
	background-color: AliceBlue;
	.contact-us {
		@include span(8 of 16);
		padding-top: 122px;
		h2 {
		}
		.contact-bar {
			height: 50px;
			margin-top: 10px;
			padding-top: 5px;
			.contact-bullet {
				display: inline-block;
				background-color: white;
				font-size: 25px;
				height: 40px;
				width: 40px;
				border-radius: 25px;
				padding: 2px;
				text-align: center;
			}
			.contact-content {
				display: inline-block;
				height: 40px;
				font-size: 18px;
				padding-top: 10px;
				h4, p {
					line-height: 30%;
				}
			}
		}
	}
	.job-info {
		@include span(8 of 16);
		font-size: 18px;
		p {
			font-family: $lato;
			font-weight: bold;
			margin-top: 3px;
			margin-bottom: 3px;
		}
		padding-top: 114px;
		input {
			width: 100%;
			border: 1px solid black;
		}
		textarea {
			width: 100%;
			height: 144px;
			resize: none;
			margin-bottom: 30px;
			border: 1px solid black;
		}
		.job-row {
			@include span(16 of 16);
		}
		.job-half-row {
			@include span(8 of 16);
		}
		.quote-button {
			font-family: $lato;
			font-weight: bold;
			padding: 14px;
			background-color: black;
			color: white;
		}
	}
}















