---
layout: default
---
{% assign projectsGallery = site.projects | where: "category", "featured" %}


<div class="hero">
  <div class="heading">
    <h1>The Landscape Solution</h1>
    <h2>Professional landscaping out of Floresville, Texas</h2>
  </div>
</div>

<div class="services">
  <h2>Services</h2>
  <ul>
    <li>Gardens</li>
    <li>Water Features</li>
    <li>Stonework</li>
    <li>Patios</li>
    <li>Retaining Walls</li>
    <li>Sodding</li>
    <li>Nightscaping</li>
    <li>Fire Pits</li>
    <li>Drainage</li>
    <li>Xeriscapting</li>
  </ul>
</div>

  <div class="carousel">
    <div class="photos-gallery">
      {% for project in projectsGallery %}
        {% include photo-list.html %}
      {% endfor %}
    </div>
  </div>
</div>
